* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 10px;
    padding-bottom: 44px;
    padding-left: 5px;
}

p#igasto {
    text-indent: 5px;
    padding-bottom: 14px;
    padding-left: 5px;
}

input#gasto {
    border-radius: 6px;
    margin-left: 5px;
    font-size: 22px;
    margin-bottom: 34px;
    border: solid #000000d9;
}

input#gasto::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

p.final {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

div.resfinal {
    border: solid black;
    border-radius: 10px;
    height: 2rem;
    width: 40rem;
    margin-left: 5px;
    font-size: 24px;
    text-indent: 9px;
}

div.decisao {
    padding-left: 5px; /* Adiciona 5px de padding-left */
}

label.labeldecisao {
    display: flex;
    align-items: center;
    font-size: 17px;
}

input.inputdecisao {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-left: 50px;
}

#alinhar {
    display: flex;
    align-items: center;
    margin-left: -43px;
}

p#textofinal {
    padding-bottom: 10px;
}

input#btn_calcular{
    margin-left: 16px;
    width: 105px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: solid #007BFF;
}

div#alinharmain{
    display: flex;
    align-items: stretch;
}

@media (max-width: 768px) {
    div.resfinal {
        width: 30rem;
        font-size: 20px;
    }

    input#gasto {
        font-size: 20px;
    }

    label.labeldecisao {
        font-size: 15px;
    }

    input#btn_calcular {
        width: 90px;
        height: 28px;
        margin-left: 10px;
    }
}

/* Media Query para telas menores que 480px (dispositivos móveis) */
@media (max-width: 480px) {
    h1{
        padding-left: 10px;
        margin-top: 16px;
    }

    div.resfinal {
        width: 20rem;
        font-size: 18px;
    }

    input#gasto {
        font-size: 18px;
    }

    label.labeldecisao {
        font-size: 14px;
        margin-top: 11px;
        padding-bottom: 12px;
    }

    input.inputdecisao {
        margin-left: 20px;
        margin-right: 5px;
    }

    input#btn_calcular {
        width: 80px;
        height: 25px;
        margin-left: 5px;
        margin-top: -20px;
    }

    #alinhar {
        flex-direction: column;
        margin-left: 0;
    }

    #alinharmain {
        flex-direction: column;
    }

    p#igasto, p.final {
        margin-top: 16px;
    }
    p#textofinal {
        padding-bottom: 10px;
        margin-top: 16px;
    }
}